<!---------------------------------------------------------------------------
    File: templatev1.2.0.html
    Description: This is a test file for the future main landing page of our streamlit application. 
                 It displays the content of the recipe that came out from the customer's query, 
                 including the main characteristics, the main body of the recipe 
                 (ingredients and instructions) and a link to the recipe.    
    Version: 1.2.0
    Notes:
    - The recipe data is dynamically updated through the python script calling it.
    (We use {{}} to call those parameters as we use Jinja2 in streamlit)
    
    --------------------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sketch of final result page</title>
</head>
<body>
    <div>
        <h1>{{ title }}</h1>
        <p> {{ prc }}  % of ingredients already at disposal</p>
        <h2> Ingredients </h2>
        <ul>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <h2> Directions </h2>
        <ul>
            {% for item in dir %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        
        <p> Here's the link to reciepe : <a href={{ link }}> {{ link }}</a>  </p>
        <p> Enjoy ;)  </p>
    </div>
</body>
</html>