/* styles.css */
/* button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: black !important;
    text-decoration: none;
    cursor: pointer;
    border: none !important;
}
button:hover {
    text-decoration: none;
    color: black !important;
}
button:focus {
    outline: none !important;
    box-shadow: none !important;
    color: black !important;
} */

/* Center all Streamlit widget labels */
.css-10trblm {  /* Adjusts the label class for text */
    display: flex;
    align-items: center;
}
